.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar li {
  display: flex;
  margin: 0 20px;
}

.navbar a {
  color: #E91E63;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}