.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.title {
  display: flex;
  justify-content: center;
}

.canvas {
  display: flex;
  justify-content: center;
}