.container {
  background: #f1f1f1;
  height: 500px;
  padding: 20px 10px;
}

.title {
  color: #505050;
  font-size: 24px;
  text-align: center;
}

.title__red {
  color: #F44336;
  font-weight: bold;
}

.title__blue {
  color: #3F51B5;
  font-weight: bold;
}

.dino {
  display: flex;
  justify-content: center;
}

.dino__svg {
  margin-top: 20px;
  border: 1px solid #535353;
}

.score {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: fantasy;
}

.controls-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  max-width: 300px;
  margin: 0 auto;
  font-size: 13px;
}

.controls-info__title {
  font-size: 13px;
  font-weight: bold;
}

.controls-info__record {
  display: flex;
  flex: 1;
  width: 100%;
  margin-bottom: 5px;
}

.controls-info__record div:first-child {
  flex: auto;
}

.controls-info__record div:last-child {
  width: 30px;
}